<div class="container">
  <div class="row">
    <div class="col-lg-9 nine">
      <div class="jumbotron">
        <app-header></app-header>
      </div>
      <app-posting></app-posting>
    </div>
    <div class="col-lg-3 three">
      <div class="jumbotron" alt="no, it does nothing">
        <input type="text" name="login" value="" placeholder="seekrit club name">
        <input type="text" name="password" value="" placeholder="type 'password' here">
        <button type="button" class="btn btn-info" name="button">login</button>
      </div>
      <app-ads></app-ads>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
