<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <h2>{{ title }}</h2>
    <div class="col-md-9">
      <div class="container" *ngFor="let header of headers">
      {{ header }}
      <span>&nbsp;</span>
      </div>
      <div class="container" *ngFor="let posting of postings">
      {{ posting }}
      <span>&nbsp;</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
      <h2>login box here</h2>
      <span>&nbsp;</span>
      </div>
      <div class="container" *ngFor="let ad of ads">
      {{ ad }}
      <span>&nbsp;</span>
      </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
