/* You can add global styles to this file, and also import other style files */

.nine {
  min-width: 650;
  max-width: 800;
  min-height: 800;
}

.three {
  min-width: 250;
  max-width:300;
  min-height: 800;
}

.jumbotron  {
  min-height: 220px;
  max-height: 220px;
  background-color: #d24dff;
}

.posting {
  background-color: lightblue;
  text-align: left;
}

.singlepost {
  border: 1px;
}

.advert {
  background-color: pink;
  margin: 5px;
}

input {
  margin: 2px;
}

img {
  margin-top: 5px;
  margin-left: 5px;
}

.btn {
  margin: 3px;
}

.logo {
  float: right;
  margin: -30px;
}

.rank {
  background-color: lightgreen;
}

.reddits {
  background-color: #ff3333;
}

.sub {
  color: darkgray;
}

.adtext {
  margin-left: 15px;
}
