<div class="container" *ngFor="let posting of postings">
  <div class="row singlepost">
    <div class="col-sm-1 rank">
      <span>{{ posting.id }}</span>
    </div>
    <div class="col-sm-1 reddits">
      <span>{{ posting.rank }}</span>
    </div>
    <div class="col-sm-1 posting">
      <img src="{{ posting.thumb }}" height="90px" alt="">
    </div>
    <div class="col-md-9 posting">
      <div>
        <h3 class="posting">{{ posting.title }}</h3>
      </div>
      <div>
        <h5 class="posting">{{ posting.description }}</h5>
      </div>
      <div>
        <h6 class="posting sub">{{ posting.details }}</h6>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  <hr>

  <pre>{{closeResult}}</pre>


  <br>
</div>
