<div class="container" *ngFor="let posting of postings">
  <div class="row singlepost">
    <div class="col-sm-1 rank">
      <span>{{ posting.id }}</span>
    </div>
    <div class="col-sm-1 reddits">
      <span>{{ posting.rank }}</span>
    </div>
    <div class="col-sm-1 posting">
      <img src="{{ posting.thumb }}" height="90px" alt="">
    </div>
    <div class="col-md-9 posting">
      <div>
        <h3 class="posting">{{ posting.title }}</h3>
      </div>
      <div>
        <h5 class="posting">{{ posting.description }}</h5>
      </div>
      <div>
        <h6 class="posting sub">{{ posting.details }}</h6>
      </div>
    </div>
  </div>
  <br>
</div>
